@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f3f4f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

<<<<<<< HEAD
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: #1976d2;
}

body {
=======
body {
  margin: 0;
>>>>>>> af182bc4 (Fix layout type errors, update selectors, and resolve build issues)
  min-width: 320px;
  min-height: 100vh;
}
